@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
}

body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,0.75);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(25,25,25);
    overflow-y: auto;
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='677' height='677' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23440000' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23440000' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 89vh;
}

header {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
    clear: both;
    width: 250px;
    border-bottom: 4px solid rgb(0, 255, 0);
}

.text{
    width: 100%;
    clear: both;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
}

.content{
    flex: 1;
}

p{
    padding-top: 30px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    float: left;
    clear: both;
    word-wrap: break-word;
}

.navbar{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    right: 20px;
    width: 100%;
}

li{
    display: inline;
}

.navbar a{
    width: 70px;
    float: right;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    transition: transform .3s
}

.navbar a:hover {
    border-bottom: 5px solid  rgb(0, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}