@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

*{
    margin: 0;
    padding: 0;
}

body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,0.75);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(25,25,25);
    overflow-y: auto;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 89vh;
}

header {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    width: 50px;
    clear: both;
}

.text{
    width: 100%;
    clear: both;
    word-wrap: break-word;
}

.content{
    flex: 1;
}

footer{
    padding: 0;
    margin: 0;
    bottom: 5px;
    font-size: 13px;
    text-align: center;
    clear: both;
    padding-top: 50px;
}
p{
    padding-top: 30px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    float: left;
    clear: both;
    word-wrap: break-word;
}


.navbar{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    right: 20px;
    clear: both;
    width: 100%;
}

li{
    display: inline;
}
.navbar a{
    width: 70px;
    float: right;
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(185, 185, 185);
    transition: transform .3s
}

.navbar a:hover {
    background-color: rgb(114, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15%;
    text-align: center;
}