@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

*{
    margin: 0;
    padding: 0;
}

body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,0.75);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(25,25,25);
    overflow: auto;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 89vh;
}

.content{
    flex: 1;
}

header{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    clear: both;
}

footer{
    padding-top: 50px;
    margin: 0;
    bottom: 5px;
    font-size: 13px;
    padding-top: 50px;
    text-align: center;
    clear: both;
}

.description{
    font-family: 'Raleway', sans-serif;
    color: gray;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
}

.navbar{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    right: 20px;
    width: 100%;
    clear: both;
}

li{
    display: inline;
}

.navbar a{;
    width: 60px;
    float: right;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(185, 185, 185);
    transition: transform .3s;
}

.navbar a:hover {
    background-color: rgb(114, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15%;
    transform: scale(1);
    text-align: center;
    width: 80px;
    padding-right: 20px;
}

.resume{
    padding: 20px;
    border: 4px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: dashed;
    border-color: rgb(114, 0, 0);
    transition: transform 0.2s;
    clear: both;
    width: 150px;
    order: 3;
    margin: 50px;
    margin-left: 0;
}

.resume a{
    text-decoration: none;
    display: block;
    color: rgb(185, 185, 185);
}

.resume:hover{
    transform: scale(1.5);
    border-color: rgb(17, 0, 255);
}

.line{
    top: 50%;
    width: 14.5em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    color: rgb(255, 255, 255);
}

.anim-typewriter{
    animation:typewriter 3s steps(40) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0em;
    }
    to{
        width: 14.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

