@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
}

body{
    height: calc(100vh - 8em);
    padding: 2em;
    color: rgba(255,255,255,0.75);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(25,25,25);
    overflow: auto;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='677' height='677' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23440000' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23440000' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 89vh;
}

.content{
    flex: 1;
}

header{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

span{
    color: rgb(0, 255, 0);
}

footer{
    padding-top: 50px;
    margin: 0;
    bottom: 5px;
    font-size: 13px;
    padding-top: 50px;
    text-align: center;
    clear: both;
}

.description{
    font-family: 'Raleway', sans-serif;
    color: rgb(223, 222, 222);
    width: 100%;
    clear: both;
    padding-top: 5px;
    margin: 0;
    font-size: 22px;
}

.navbar{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    right: 20px;
    width: 100%;
}

li{
    display: inline;
}

.navbar a{
    width: 70px;
    float: right;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    transition: transform .3s
}

.navbar a:hover {
    border-bottom: 5px solid  rgb(0, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.resume{
    padding: 10px;
    transition: transform 0.2s;
    clear: both;
    width: 150px;
    order: 3;
    margin: 50px;
    margin-left: 0;
    border-bottom: 4px solid rgb(0, 255, 0);
    order: 2;
}

.resume a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.resume:hover{
    border-color: rgb(255, 0, 0);
}

.line{
    top: 50%;
    width: 11.4em;
    margin: 0 auto;
    border-right: 4px solid rgba(255, 255, 255, 0.75);
    font-size: 110%;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    color: rgb(255, 255, 255);
}

.anim-typewriter{
    animation:typewriter 3s steps(40) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0em;
    }
    to{
        width: 11.4em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color:  rgb(0, 255, 0);
    }
    to{
        border-right-color: transparent;
    }
}

